body {
    font-family: Roboto, system-ui, sans-serif;
    font-size: 81.25%;
    color: #696969;
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-grow-to-fit {
    flex-grow: 1;
    flex-basis: 100%;
}

.place-holder-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    border: 1px dotted grey;
}

.tile {
    background-color: #dadada;
}

.footer {
    padding: 20px;
    background-color: #dadada;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    padding: 10px;

    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #525659;
}

.padding-15 {
    padding: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-20 {
    padding: 15px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container-row {
      flex-direction: column;
    }
}
